

body {
  background-color: #272B30;
  margin: 5%;
}
#reps,#reps2{
  color: whitesmoke;
}


h2{
  font-weight: 400; 
}
/* #load_icon{
  display: inline;
} */
.tabs_width{
width: 100%;
padding: 0;
margin: 0;
}

#div_color{
  background-color: #272B30;
  
}

.outer_div{
 /* background-color: #566573;  */
 background-color: #272B30;
 

}
.input_range{

  color:rgb(255, 255, 255);
  padding-left: 5%;
  display: inline-block;
  
}
.input_range input[type="number"]{
  margin-right:2%;
  margin-left: 1%;
  padding: 3px;
  background-color: #272B30;
  color:white;
  /* margin-block-start: auto; */
  /* max-width: fit-content; */
  }
.input_range div{
  display: inline-block ;
  
  

}



#frame{
       scale: 100%;
       filter: invert(10%);
        
}
/* .pre_label{
  max-width: fit-content;
} */

.create_container {
  border-radius: 5px;
  background-color: #010915;
  margin: 18px;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px #010915;
}

.dcc_compon {
  margin: 0;
  padding: 5px;
  width: calc(100%-40px);
}

.fix_label {
  font-size: 20px;
  margin: 0;
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: calc(100%-40px);
}

.flex-display {
  display: flex;
}

.container-display {
  display: flex;
}

#header {
  align-items: center;
  
  ;
}

.outer_div{
  align-items: center;
}

#title {
  text-align: center;
  
}

#mainContainer {
  display: flex;
  flex-direction: column;
}
#mainContainer1 {
  display: flex;
  flex-direction: column;
}

.Select-control, .Select-menu-outer, .Select-multi-value-wrapper, .select-up, .is-open .Select-control {
  background-color: #010915;
  color: white;
}

.Select-control{
  border: 0.5px solid green;
}

.has-value.Select--single>.Select-control .Select-value .Select-value-label, .has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label {
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 10px !important;
  display: block !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #272B30 !important;
  border-radius: 10px !important;
  display: block !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #010915;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white !important;
}

.rc-slider-track {
  background-color: red;
}

.rc-slider-dot-active {
  border-color: red;
  border: solid 2px red;
}

.rc-slider-handle {
  background-color: red;
  border-color: red;
}

.rc.slider-handle:hover {
  border-color: red;
}

.rc.slider-handle-active:active {
  border-color: red;
}

